@layer reset, base, tokens, recipes, utilities;

@import "@webtui/css/base.css";

:root {
  --font-mono: "SpaceMono Nerd Font Mono", Consolas, monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  font-family: var(--font-mono), Consolas, monospace;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-mono);
  background: transparent;
  color: var(--colors-text);
  overflow: hidden;
}

.volume-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  background: var(--colors-bg);
  border: 1px solid var(--colors-border);
  border-radius: 4px;
}
